Flask
Flask-SQLAlchemy
Flask-WTF
itsdangerous
Jinja2
MarkupSafe
SQLAlchemy
WTForms
pytest
Flask-Testing
Flask-SQLAlchemy
Flask-Bootstrap
Flask-Bootstrap4
pytest-cov
virtualenv
virtualenv-clone
pipenv
PyMySQL