{% block content %}
    <h1>Update Engine</h1>
    <p>
    {{new.id}}. Type <b>{{ new.style }}</b> CC <b>{{new.cc}}</b> Power <b>{{new.power}}</b>
    </p>

    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <p>
                {{ form.style.label }}<br>
                {{ form.style (size=32) }}
            </p>
            <p>
                {{ form.cc.label }}<br>
                {{ form.cc (size=32) }}
            </p>
            <p>
                {{ form.power.label }}<br>
                {{ form.power (size=32) }}
            </p>
            
            <p> {{ form.submit }}</p>
        </p>
    </form>
{% endblock content %}